:root {
  --main-color: white;
  --navy: navy;
  --blue: rgb(195, 218, 238);
}

* {
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  max-width: 1000px;
  text-decoration: none;
  box-sizing: border-box;
}

.header-main-menu {
  display: flex;
  height: 70px;
  width: 100%;
  /* background-color: rgb(234, 243, 247); */
  background-color: rgb(195, 218, 238);
  align-items: center;
  text-align: center;
  justify-content: center; /* Add this line to horizontally center items */
}
.weather-header {
  display: flex;
}
.list {
  display: flex;
  width: 700px;
  height: 50px;
}
p {
  text-decoration: none;
}
.search-btn {
  height: 40px;
  align-items: center;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.search-btn button {
  height: 40px;
  width: 150px;
  border-radius: 15px;
  border: solid 1px gray;
  font-size: 18px;
  color: orange;
  background-color: rgb(234, 243, 247);
}
.h1-weather {
  font-size: 26px;
  color: var(--navy);
  width: 100px;
}
.p-bog {
  font-size: 13px;
  color: rgb(91, 61, 6);
}
.bogota-img-container {
  display: flex;
  height: 430px;
  width: 100%;
  background-color: rgb(232, 240, 245);
  border-end-end-radius: 15px;
}
.bogota-img {
  width: 400px;
  float: left;
  margin: auto;
  padding: auto;
}

.bogota-img img {
  width: 400px;
  height: 400px;
  border-radius: 15px;
}

.current-div {
  width: 700px;
  text-align: center;
}
.timezone {
  padding-top: 10px;
  color: rgb(91, 61, 6);
  font-size: 35px;
}
.laltitude-h3 {
  font-size: 30px;
  color: navy;
  width: 300px;
  text-align: center;
  margin-top: 40px;
}
.longitude-h3 {
  font-size: 30px;
  color: navy;
  width: 300px;
  text-align: center;
  margin-top: 10px;
}
.time-h1 {
  font-size: 33px;
  color: rgb(115, 115, 228);
  width: 550px;
  text-align: center;
  margin-top: 30px;
}
.current-temp {
  color: navy;
  padding-bottom: 10px;
  padding-top: 10px;
}
.current-temp-min {
  color: navy;
  padding-bottom: 10px;
  padding-top: 30px;
}
.humidity {
  color: navy;
  padding-bottom: 10px;
}
.mother-container {
  width: 100%;
  height: 850px;
  margin-top: 30px;
  border-radius: 15px;
  border: solid 10px rgb(232, 240, 245);
}

/* Slider */
/* Slider */
/* Slider */

.current-temp-div,
.current-time-div {
  display: flex;
  gap: 10px;
  height: 300px;
}
.weekly-weather-title {
  display: inline-block;
  padding: 15px 0 0 20px;
}
.weekly-weather-title h1 {
  font-size: 22px;
  font-style: initial;
}
.weekly-weather-title span {
  color: gray;
  font-size: 16px;
}
.main-container {
  width: 100%;
  height: 550px;
  background-color: white;
  margin-top: 30px;
  border-radius: 15px;
  border: solid 15px rgb(232, 240, 245);
}
.day-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.dateP {
  width: 120px;
  height: 50px;
  padding-top: 30px;
  font-size: 22px;
  color: navy;
  /* border-bottom: solid 1px gray; */
}
.sunrise,
.sunset,
.data {
  width: 80px;
  height: 50px;
  padding-top: 30px;
  font-size: 16px;
  color: navy;
  border-bottom: solid 1px gray;
}
.max-min-temp {
  display: flex;
  font-size: 28px;
  width: 150px;
  height: 60px;
  padding-top: 30px;
  /* padding-left: 10px; */
  color: navy;
  border-bottom: solid 1px gray;
  margin-left: 50px;
}

.max-min-temp img {
  width: 25px;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.tempmin {
  font-size: 20px;
  color: rgb(136, 136, 227);
  margin: 0;
  margin-top: 8px;
}
.tempmax {
  margin: 0%;
}
.temp-img {
  padding-bottom: 7px;
}
img {
  width: 30px;
  height: 30px;
  margin: 0%;
  margin-top: 5px;
}
.rain-info,
.sunset,
.sunrise {
  padding-top: 30px;
  font-size: 16px;
  color: navy;
  border-bottom: solid 1px gray;
  margin-left: 15px;
}
.div-for-rain,
.div-for-wind,
.div-for-sunset,
.div-for-sunrise {
  display: flex;
}
.wind-info {
  padding-top: 30px;
  font-size: 16px;
  color: navy;
  border-bottom: solid 1px gray;
  margin-left: 15px;
}

.day-icon-div {
  text-align: center;
}

.day-icon-div img {
  width: 100px;
  height: 100px;
}

.day-and-night-cont {
  display: flex;
  text-align: center;
  width: 300px;
  height: 370px;
  background-color: rgb(213, 235, 248);
  border-radius: 20px;
  margin-top: 100px;
}
.day-box p {
  padding-bottom: 5px;
  font-size: 20px;
}
.day-box img {
  width: 200px;
  height: 160px;
  margin: 0px;
}
.day-box {
  width: 100%;
  height: 100%;
}
.forecast {
  display: flex;
  width: 100%;
  height: 500px;
  border: solid 20px rgb(167, 210, 236);
  margin-top: 30px;
  border-radius: 15px;
}
.icon-list {
  width: 20%;
  height: 100%;
  background-color: whitesmoke;
  border-radius: 20px;
  margin-right: 5px;
  margin-left: 5px;
}
.icon-list img {
  width: 100%;
  height: 15%;
}
.icon-list p {
  color: var(--navy);
  text-align: center;
}
.myChart {
  width: 50%;
  height: 60%;
  display: flex;
}
.forecast canvas {
  width: 80%;
  height: 90%;
  padding-top: 40px;
  background-color: whitesmoke;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 20px;
}

.pictures img {
  width: 220px;
  height: 150px;
  border-radius: 15px;
}
.pictures .second-img,
.third-img {
  width: 270px !important;
}
.pictures {
  margin-top: 1px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}
.title-for-img {
  color: var(--navy);
  padding-top: 20px;
  padding-left: 5px;
}
